{% block title %}About | Pritam{% endblock %}
{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">About Me</h2>

<div class="row justify-content-center">
  <div class="col-md-8 text-center">

    <p class="lead">
      I am a passionate ML, AI and Robotics developer who loves building
      intelligent systems and innovative projects.
    </p>

    <p>
      My interests include Machine Learning, Artificial Intelligence,
      Robotics, Computer Vision and Python development.
    </p>

  </div>
</div>
{% endblock %}
